* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#testimonial-grid-container {
    padding: 5% 3%;
}
#testimonial-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: -2;
}

#testimonial-2 {
    background-color: #48556a;
    color: #ffffff;
}

#testimonial-3 {
    background-color: #ffffff;
    color: #48556a;
}

#testimonial-4 {
    background-color: #19212e;
    color: #ffffff;
}

#testimonial-5 {
    background-color: #ffffff;
    color: #48556a;
}

.grid-item {
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.1);
    font-size: 14px;
}

.header {
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #7541c8;
    width: 30px;
}

.name {
    font-size: 0.85rem;
}

.vergrad {
    opacity: 0.5;
    font-size: 0.70rem;
}

.review {
    opacity: 70%;
    font-weight: 500;
    line-height: 1.5;
}

h4 {
    margin-bottom: 25px; 
    font-size: 1.3rem;
    font-weight: 600;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: -1;
}
@media (min-width: 576px) {

    #testimonial-grid-container,
    #main-left,
    #top,
    #bottom {
        display:flex;
    }

    #testimonial-grid-container {
        display:flex;
        max-width: 1280px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #testimonial-5 {
        flex-basis: 25%
    }

    #main-left{
        flex-direction: column;
        flex-basis: 85%;
    }
    #top {
        flex-basis: 50%;
        justify-content: space-between;
    }

    #bottom {
        flex-basis: 50%;
        justify-content: space-between;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 69%;
    }
    
    #testimonial-2, #testimonial-3 {
        flex-basis: 31%;
    }
}